 /*doc
---
title: Blog Teaser
category: Component - Blog Teaser
---

`data-eq-pts="large:x"` is used to specify when this component breaks from single to two columns

`.card` Context comes from the [Card](/styleguide/layout_-_card.html) layout, and refers to negative margin to stretch image across entire card.

`data-theme="dark"` is an optional `.card` attribute that signifies a dark background, and suggests lighter text.

```html_example

<div class="blog-teaser" data-eq-pts="small: 0, large:400">
  <div class="blog-teaser-img-container">
    <img class="blog-teaser-img" src="http://placekitten.com/g/300/200">
  </div>
  <div class="blog-teaser-contents">
    <header class="blog-teaser-header">
      <h1 class="blog-teaser-title"><a href="" class="blog-teaser-link"> This is my teaser title</a></h1>
      <div class="blog-teaser-author">Micah Godbolt</div>
      <div class="blog-teaser-date">October 31st, 2014</div>
    </header>
    <div class="blog-teaser-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </div>
  </div>
</div>

```
*/

.blog-teaser {

}
.blog-teaser-img-container {
  margin-bottom: 1em;
  .card [data-eq-state="small"] & {
    @extend %bleeding-container;
  }
}
.blog-teaser-img {
  @extend %responsive-image;
}
.blog-teaser-contents {

}

.blog-teaser-header {
  margin-bottom: 1em;
}
.blog-teaser-title {
  @extend %primary-title;
}
.blog-teaser-link {
}

.blog-teaser-author {
  @extend %name-copy;
}
.blog-teaser-date {
  @extend %small-copy;
}
.blog-teaser-text {
  [data-theme="dark"] & {
    color: color(white);
  }
}
